main {
    min-height: 80vh;
}

a {
    text-decoration: none !important;
}

strong {
    font-weight: bold !important;
}

.stars {
    color: rgb(167, 167, 63);
}

.productImage {
    height: 223px !important;
    object-fit: contain !important;
}

.loader{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.deleteButton{
    border: 1px solid;
    border-radius: 30px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #535960 !important;
    border-radius: 23px;
    width: 90%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 10px;
}